<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Contact Form - Pen a Day 20</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="css/styleBlog.css">

  
</head>

<body>
  <div class='container'>
  <header>
    <h1>Tell us about your day.</h1>
  </header>
  <div class='message'>
    <form action="submit" id ="textform" method="POST">
      <textarea id = "diary" placeholder="We're here to listen." name = "diary"></textarea>
      <input type="submit" value="Submit">
    </form>
  </div>
  <footer>
    <button class = "submit-btn" type = "submit" onclick="save()">Submit</button>
  </footer>
</div>
  
<script src = "js/diary.js">

</script>
</body>
</html>
