.container
  %header
    %h1 Send us a suggestion! 
  .name
    %input.first{ :type => 'text', :placeholder => 'First Name'}
    %input.last{ :type => 'text', :placeholder => 'Last Name'}
  .contact
    %input.email{ :type => 'text', :placeholder => 'E-mail Address'}
  .message
    %textarea{ :placeholder => 'Your Suggestions Here!'}
  %footer 
    %button Send Suggestion